.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.spinner{
    margin-left: 60%;
    width: 450px;
    height:300px;
}

@media (max-width: 575px) {
    .home {
        grid-template-columns: repeat(1, 1fr);
    }
}