.add-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 30px 150px;
    border: 2px solid lightcoral;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    text-align:center;
}
.submit-btn{
    background-color: tomato;
    margin: 30px;
    border: none;
    border-radius:5px;
    width: 50%;
    height: 50px;
    margin: 30px 150px;
}